.container-results {
  height: calc(100% - 100px);
  margin-top: 100px;
}

.container-results--background {
  background-image: url('/assets/img/back.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: #fafafa00;
}
