<div class="container-fluid vh-100">
  <div class="row">
    <div class="col-12 p-2">
      <imager-front-header (toggleSideMenu)="toggleSideMenu()">
        <mat-slide-toggle (change)="toggleTheme()" themeSwitch><mat-icon>dark_mode</mat-icon></mat-slide-toggle>
      </imager-front-header>
    </div>
    <div class="col-12 p-2">
      <imager-front-side-menu
        [isOpen]="sideMenuOpened$ | async"
        [position]="sideMenuPosition$ | async"
        [marginTop]="80"
        [marginBottom]="10"
      >
        <!--Main Content -->
        <div mainContent>
          <router-outlet></router-outlet>
        </div>
        <!--Main Side Menu -->
        <div sideMenuContent>MENu</div>
      </imager-front-side-menu>
    </div>
  </div>
</div>
